@CHARSET "UTF-8";

body {
	overflow-x: hidden;
	margin: 0;
}

.body {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: white;
}

.footText {
	position: relative;
	left: 70%;
	margin: 0px;
}

.headerText {
	margin-bottom: 0;
	position: relative;
	left: 5%;
}

.menu {
	list-style-type: none;
	margin: 0;
	width: 15%;
	background-color: #f1f1f1;
	position: fixed;
	height: 80%;
}

.main {
	margin-left: 15%;
}

.footer {
	margin-left: 15%;
	top: 87%;
	/* position: fixed; */
	z-index: 600;
}

.link {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	background: #4479BA;
	color: #FFF;
	padding: 2px 10px;
	text-decoration: none;
}

.button {
	padding-left: 140px;
}

.arrival {
	width: 100%;
}

.dropdown-check-list {
	position: absolute;
	display: inline-block;
	background: white;
	margin-top: -9px;
}

.dropdown-check-list .anchor {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 0px 50px 0px 10px;
	border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
	position: absolute;
	content: "";
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
	right: 10px;
	top: 20%;
	transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
	right: 8px;
	top: 21%;
}

.dropdown-check-list ul.items {
	overflow-y: scroll;
	padding: 2px;
	display: none;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
}

.dropdown-check-list ul.items li {
	list-style: none;
}

.dropdown-check-list.visible .anchor {
	color: black;
}

.dropdown-check-list.visible .items {
	display: block;
}